/*body {
    margin: 0;
    min-height: 100vh;
}



.pad {
    width: 25px;
    height: 27px;
    background-color: #d4a373;
    -webkit-border-radius: 63px 63px 63px 63px / 108px
    108px 72px 72px;
    border-radius: 50% 50% 50% 50%/ 60% 60%
    40% 40%;
    display: block;
    position: absolute;
}

.large {
    width: 70px;
    height: 80px;
    transform: rotate(80deg);
    left: 100px;
    bottom: 50px;
}

.small-1 {
    transform: rotate(50deg);
    left: 145px;
    bottom: 28px;
}

.small-2 {
    transform: rotate(65deg);
    left: 174px;
    bottom: 50px;
}

.small-3 {
    transform: rotate(98deg);
    position: absolute;
    left: 178px;
    bottom: 87px;
}

.small-4 {
    transform: rotate(140deg);
    position: absolute;
    left: 158px;
    bottom: 117px;
}

.paw-print-1 {
    opacity: 0;
    position: absolute;
    left: 75px;
    bottom: 300px;
    transform: rotate(-40deg);
    -webkit-animation: walk 3s linear infinite;
    animation: walk 3s linear infinite;
}

.paw-print-2 {
    opacity: 0;
    position: absolute;
    left: 275px;
    bottom: 280px;
    transform: rotate(-5deg);
    -webkit-animation: walk 3s linear infinite 0.25s;
    animation: walk 3s linear infinite 0.25s;
}

.paw-print-3 {
    opacity: 0;
    position: absolute;
    left: 375px;
    bottom: 130px;
    transform: rotate(-10deg);
    -webkit-animation: walk 3s linear infinite 0.5s;
    animation: walk 3s linear infinite 0.5s;
}

.paw-print-4 {
    opacity: 0;
    position: absolute;
    left: 575px;
    bottom: 280px;
    transform: rotate(-20deg);
    -webkit-animation: walk 3s linear infinite 0.75s;
    animation: walk 3s linear infinite 0.75s;
}

.paw-print-5 {
    opacity: 0;
    position: absolute;
    left: 725px;
    bottom: 50px;
    transform: rotate(10deg);
    -webkit-animation: walk 3s linear infinite 1s;
    animation: walk 3s linear infinite 1s;
}

.paw-print-6 {
    opacity: 0;
    position: absolute;
    left: 875px;
    bottom: 200px;
    transform: rotate(10deg);
    -webkit-animation: walk 3s linear infinite 1.25s;
    animation: walk 3s linear infinite 1.25s;
}

.paw-print-7 {
    opacity: 0;
    position: absolute;
    left: 1075px;
    bottom: 50px;
    transform: rotate(20deg);
    -webkit-animation: walk 3s linear infinite 1.5s;
    animation: walk 3s linear infinite 1.5s;
}

.paw-print-8 {
    opacity: 0;
    position: absolute;
    left: 1150px;
    bottom: 250px;
    transform: rotate(10deg);
    -webkit-animation: walk 3s linear infinite 1.75s;
    animation: walk 3s linear infinite 1.75s;
}

@-webkit-keyframes walk {
    25% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes walk {
    25% {opacity: 1;}
    100% {opacity: 0;}
}

/*den ville ikke virke så bra på telefon*/
/*har du en i det?*/



/*@media (max-width: 770px) {
    .section {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (max-width: 426px) {
    .section {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .url {
        flex-direction: column;
        align-items: center;
    }
}*/
